<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Sample Test Suite" verbose="0" parallel="tests" thread-count="3">
    <test name="Selenium Test">
        <classes>
            <class name="com.scully.SeleniumTest"/>
        </classes>
    </test>
    <test name="Second Selenium Test">
        <classes>
            <class name="com.scully.SecondSeleniumTest"/>
        </classes>
    </test>
</suite>